<section class="container" style="margin-top: 20px">
  <div class="columns is-multiline">
    {{#each beans}}
      {{#with this}}
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <img width="200px" height="200px" src="{{imageUrl}}" />
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title">
                  <a href="/bean/{{_id}}">{{title}}</a>
                </p>
                <p class="subtitle">@<a href="/user/{{creatorId}}">{{creatorId}}</a></p>
                <a href="#" class="lock">
                  <span class="icon-unlock"></i>
                  <span class="icon-lock"></i>
                </a>
              </div>
            </div>
            <div class="content">
              {{description}}
              <br>
              <time>{{moment timestamp}}</time>
            </div>
          </div>
        </div>
      </div>
      {{/with}}
    {{else}}
    <h1 class="is-size-1">no beans found</h1>
    {{/each}}
  </div>
</section>