<section class="container" style="margin-top: 20px">
  {{#with user}}
  <div class="card">
    <div class="card-content">
      <p class="title">@{{_id}}</p>
      <ul class="content">
        {{#each ../actions}} {{#with this}}
        <li>@{{user}} {{actionType}}
        {{#if comment}}
        on <a href="/bean/{{beanId}}">{{beanName}}</a> <time>{{moment timestamp}}</time></li>
        <blockquote>{{comment}}</blockquote>
        {{else}}
        <a href="/bean/{{beanId}}">{{beanName}}</a> <time>{{moment timestamp}}</time></li>
        {{/if}}
        {{/with}} {{/each}}
      </ul>
    </div>
  </div>
  {{/with}}
</section>
